
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600&display=swap');
@import "tailwindcss";


@theme {
  --color-primary: #023f47;

  --color-secondary: #1e6f79;

  --color-accent: #ff5800;

  --color-neutral: #3f3f46;
  --color-neutral-focus: #27272a;
  --color-neutral-content: #ffffff;

  --color-base-100: #f8fcf8;
  --color-base-200: #e9f5eb;

  --font-dm-sans: 'DM Sans', sans-serif;

  
  --breakpoint-3xl:2560px;


}