@import 'tailwindcss';

@theme {
  --animate-fadeIn: fadeIn 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  --animate-scaleIn: scaleIn 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes scaleIn {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
}
